In [1]:
import mysql.connector

In [2]:
connection= mysql.connector.connect(
 host= "localhost",
 user= "root",
 password="4000@Sivaram",
 database="tourism"
 )
print(connection)
mycursor = connection.cursor()

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000018405237B30>

In [6]:
mycursor.execute("SHOW TABLES")
tables=mycursor.fetchall()

print("Tables in Tourism Projrct")
for table in tables:
    print(table[0])

Tables in Tourism Projrct
city
continent
country
item
mode
region
transaction
type
user

In [7]:
import pandas as pd

In [9]:
query_1="""create table if not exists Table_1 as
select t.TransactionId,t.UserId,t.VisitYear,t.VisitMonth,t.VisitModeId,t.AttractionId,t.Rating,
u.ContinentId,u.RegionId,u.CountryId,u.CityId
from `transaction` t
inner join `User` u 
on t.UserId=u.UserId;"""   

mycursor.execute(query_1)
connection.commit()
print("Step 1: Createde table 'Table_1' (transaction + User)")

Step 1: Createde table 'Table_1' (transaction + User)

In [10]:
query_2="""create table if not exists Table_2 as
select t1.*,c.Continent
from Table_1 t1
inner join continent c 
on t1.ContinentId=c.ContinentId;"""   

mycursor.execute(query_2)
connection.commit()
print("Step 2: Createde table 'Table_2' (Table_1 + Continent)")

Step 2: Createde table 'Table_2' (Table_1 + Continent)

In [11]:
query_3="""create table if not exists Table_3 as
select t2.*,r.Region
from Table_2 t2
inner join region r 
on t2.RegionId=r.RegionId;"""   

mycursor.execute(query_3)
connection.commit()
print("Step 3: Createde table 'Table_3' (Table_2 + Region)")

Step 3: Createde table 'Table_3' (Table_2 + Region)

In [12]:
query_4 = """
CREATE TABLE IF NOT EXISTS Table_4 AS
SELECT t3.*, co.Country
FROM Table_3 t3
INNER JOIN country co ON t3.CountryId = co.CountryId;
"""

mycursor.execute(query_4)
connection.commit()
print("Step 4: Created table `Table_4` (Table_3 + country)")

Step 4: Created table `Table_4` (Table_3 + country)

In [13]:
query_5 = """
CREATE TABLE IF NOT EXISTS Table_5 AS
SELECT t4.*, ci.CityName
FROM Table_4 t4
INNER JOIN city ci ON t4.CityId = ci.CityId;
"""

mycursor.execute(query_5)
connection.commit()
print("Step 5: Created table `Table__5` (Table_4 + city)")

Step 5: Created table `Table__5` (Table_4 + city)

In [14]:
query_6 = """
CREATE TABLE IF NOT EXISTS Table_6 AS
SELECT t5.*, it.Attraction, it.AttractionAddress, it.AttractionTypeId,it.AttractionCityId
FROM Table_5 t5
INNER JOIN item it ON t5.AttractionId = it.AttractionId;
"""

mycursor.execute(query_6)
connection.commit()
print("Step 6: Created table `Table_6` (Table_5 + item)")

Step 6: Created table `Table_6` (Table_5 + item)

In [15]:
query_7 = """
CREATE TABLE IF NOT EXISTS Table_7 AS
SELECT t6.*, t.AttractionType
FROM Table_6 t6
INNER JOIN type t ON t6.AttractionTypeId = t.AttractionTypeId;
"""

mycursor.execute(query_7)
connection.commit()
print("Step 7: Created table `Table_7` (Table_6 + type)")

Step 7: Created table `Table_7` (Table_6 + type)

In [16]:
query_8 = """
CREATE TABLE IF NOT EXISTS Final_Table AS
SELECT t7.*, m.VisitMode AS VisitModeName
FROM Table_7 t7
INNER JOIN mode m ON t7.VisitModeId = m.VisitModeId;
"""

mycursor.execute(query_8)
connection.commit()
print("Step 8: Created table `Final_Table` (Table_7 + mode)")

Step 8: Created table `Final_Table` (Table_7 + mode)

In [17]:
query_final = "SELECT * FROM Final_Table;"
mycursor.execute(query_final)
result_final = mycursor.fetchall()
columns_final = [desc[0] for desc in mycursor.description]

df_final = pd.DataFrame(result_final, columns=columns_final)

In [18]:
df_final.head()

,TransactionId,UserId,VisitYear,VisitMonth,VisitModeId,AttractionId,Rating,ContinentId,RegionId,CountryId,...,Continent,Region,Country,CityName,Attraction,AttractionAddress,AttractionTypeId,AttractionCityId,AttractionType,VisitModeName
0,5661,0000000014,2018,12,4,640,4,5,20,155,...,Europe,Southern Europe,Portugal,Lagos,Sacred Monkey Forest Sanctuary,"Jl. Monkey Forest, Ubud 80571 Indonesia",63,1,Nature & Wildlife Areas,Friends
1,67652,0000000014,2018,12,4,748,5,5,20,155,...,Europe,Southern Europe,Portugal,Lagos,Tegalalang Rice Terrace,"Jalan Raya Ceking, Tegalalang 80517 Indonesia",72,1,Points of Interest & Landmarks,Friends
2,68777,0000000014,2018,12,4,748,5,5,20,155,...,Europe,Southern Europe,Portugal,Lagos,Tegalalang Rice Terrace,"Jalan Raya Ceking, Tegalalang 80517 Indonesia",72,1,Points of Interest & Landmarks,Friends
3,4735,0000000016,2018,4,3,640,5,3,14,101,...,Asia,South East Asia,Indonesia,Jakarta,Sacred Monkey Forest Sanctuary,"Jl. Monkey Forest, Ubud 80571 Indonesia",63,1,Nature & Wildlife Areas,Family
4,5318,0000000016,2017,12,4,640,5,3,14,101,...,Asia,South East Asia,Indonesia,Jakarta,Sacred Monkey Forest Sanctuary,"Jl. Monkey Forest, Ubud 80571 Indonesia",63,1,Nature & Wildlife Areas,Friends

In [19]:
df_final.to_csv("Final_Tourim_Table.csv",index=False)
print("The Final Combined file has been saved")

The Final Combined file has been saved